<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            <p>Professional Graphic Designer since 2014, working in creative design projects, concept creation, graphic design, animation, and visual conceptualization for social media advertisings and web page design.</p>
            <p>I am a wanderer, always looking for new challenges. I went out from my beautiful land Bolivia, to be in love with the lights of Barcelona. I am living, working, and studying in this magic city where the possibilities are endless.</p>

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

              <a href="https://dribbble.com/randomphenomena/"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Dribbble</button></a>
              <a href="https://github.com/randomphenomena"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>LinkedIn</button></a>

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
